.logo {
  max-height: 225px;
  margin: -122px;
  margin-bottom: -35px;
  margin-right: -25px;
  margin-left: -35px;
}
.navbar-nav > li,
.navbar-nav {
  float: left;
}
.navbar-right {
  float: right;
  margin-right: -15px;
  line-height: 85px;
}
.navbar-right {
  float: right;
}
.navbar-nav a {
  color: #fff !important ;
  font-size: 1.4em;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-group {
  position: relative;
  display: table;

  border: 10px blue solid;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  border-radius: 50%;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}
.navbar .navbar-brand {
  display: block;
  height: 100%;
  padding: 15px 2em 8px 1px;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
body {
  background: repeat scroll center top #eeeeee;
  font-family: Sans-Serif;
}
.navbar-nav > li > a {
  line-height: 80px;
}

.fa-list {
  padding-right: 5px;
}
.fa-random {
  padding-right: 5px;
}
.fa-bookmark {
  padding-right: 5px;
}
.fa-home {
  padding-right: 5px;
}
